<div class="step-list" id="all-step-list">
    {% if terms is defined and terms != "" %}
        <div class="step-list-search-results">Your search for <i>{{ terms }}</i> returned {{ steps|length }} {{ resultNoun }}.</div>
    {% endif %}
    <div class="step-list-container">
        {% if steps|length == 0 and terms == "" %}
            <div class="step-list-search-results">There are no steps that match your filters.</div>
        {% else %}
            {% for step in steps %}
                <div id="{{ loop.index }}" class="step-container {{ step.category }} {{ step.savings }} {% if step.organization %}organization{%endif%} {% if step.individual %}individual{%endif%} {% if loop.first %}first{% endif %} {% if loop.last %}last{% endif %}">
                    <div class="step {{ step.category }}">
                        <span class="count">{{ step.stepCount }}</span>
                        <span style="float: left; margin: 5px 10px 5px 0; font-size: 11px;">step{% if step.stepCount == 1%}<span style="color: white";>{%endif%}s{% if step.stepCount == 1%}</span>{%endif%}</span>
                        <span class="count">{{ step.commitmentCount }}</span>
                        <span style="float: left; margin: 5px 10px 5px 0; font-size: 11px;">commitment{% if step.commitmentCount == 1%}<span style="color: white";>{%endif%}s{% if step.commitmentCount == 1%}</span>{%endif%}</span>
                        <span class="step">
                            <a class="step-link" href="{{ path('takeAStep', {'id' : step.id }) }}"> 
                                {{ step.title }}
                            </a>
                        </span>
                        <a class="take-this-step button" href="{{ path('takeAStep', {'id' : step.id }) }}">Take this step</a>
                    </div>
                   {# {% if id is defined and id == step.id %}
                        {% render "GYGBFrontBundle:FindAStep:stepDetails" with {'id' : step.id, 'hidden' : false } %}           
                    {% else %}
                        {% render "GYGBFrontBundle:FindAStep:stepDetails" with {'id' : step.id, 'hidden' : true } %}           
                    {% endif %}
                    #}
               </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
                