{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/stepList.css') }}" type="text/css">        
    <link rel="stylesheet" href="{{ asset('styles/shareAStep.css') }}" type="text/css">        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/map.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/shareAStep.js') }}" type="text/javascript"></script>
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% endblock %}        
    
{% block content %}
    {% include 'GYGBFrontBundle:Steps:_takeAStepMenu.html.twig' %}
    <div class="alert-message block-message info">
        <h3>Share your step</h3>
        Once you take your step, share it and enter to win over $2000 in prizes.
    </div>
    
    
    <div id="step-submission-container" class="row">
        <div id="whats-your-step">
            {% include "GYGBFrontBundle:ShareAStep:_stepForm.html.twig" with {'stepForm' : stepForm, 'categoryNames' : categoryNames, 'stepObjects' : stepObjects, 'id': id, 'selectedStep' : selectedStep } %}
            <div style="clear: both;">&nbsp;</div>
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>
{% endblock content %}