<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Get Your GreenBack - Tompkins! | Error{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/ccetcbootstrap/bootstrap/bootstrap.css') }}" type="text/css" media="all" >
            <link rel="stylesheet" href="{{ asset('styles/general.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('styles/misc.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('styles/menus.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('styles/errorPages.css') }}" type="text/css">

            <!--[if lte IE 7]>
                <link rel="stylesheet" type="text/css" href="{{ asset('styles/ie7.css') }}" />
                <![endif]-->
            <!--[if lte IE 6]>
                <link rel="stylesheet" type="text/css" href="{{ asset('styles/ie6.css') }}" />
            <![endif]-->
        {% endblock %}
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />

    </head>
    <body>
        <div class="container">
            <div class="content">
                <div id="header">
                    <div id="user-menu">
                            {% if is_granted('ROLE_USER') %}
                                Logged in as <a href="{{ url('fos_user_profile_show') }}">{{ app.user }} </a> <a href="{{ url('fos_user_security_logout') }}">Log out</a>
                            {% else %}
                                <a href="{{ url('fos_user_security_login') }}">Login</a>
                                <a href="{{ url('fos_user_registration_register') }}">Register</a>
                            {% endif %}
                            <a href="{{ url('about') }}">About</a>
                            <a href="{{ url('coalition') }}">Coalition</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ url('adminHome') }}">Admin</a>
                            {% endif %}
                            <a class="last" href="{{ url('help') }}">Help</a>
                    </div>

                    <a href="{{ path('home') }}"><img id="logo" src="{{ asset('images/logoa.png') }}" /></a>

                    <img id="logob" src="{{ asset('images/logob.png') }}" />

                    <div id="menu">
                        {{ knp_menu_render('GYGBFrontBundle:Builder:mainMenu') }}
                    </div>
                    <div style="clear: both;">&nbsp;</div>                    
                </div>


                <div class="row">
                    <div class="span15">
                        <h1>{% block errorMessage %}Oops! Something went wrong.{% endblock %}</h1>
                        <h3>You can <a href="mailto:haggertypat@gmail.com">contact us directly</a> about this error, or <a href="{{ path('help') }}">submit an error report</a>.</h3>

                        <div class="errorOptions">
                            <a class="errorOption" id="home" href="{{ path('home') }}"><img src="{{ asset('images/home.png') }}" />Home</a>|
                            <a class="errorOption" id="help" href="{{ path('help') }}"><img src="{{ asset('bundles/ccetcerrorreport/images/Help.png') }}" />Help</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>