{% extends '::layout.html.twig' %}

{% block content %}
    <script>
        // build an array of steps for the autocomplete on the form
        var stepInfo = new Object;

        {% for s in allStepInfo %}
            stepInfo["{{s.step}}"] = new Object;
            stepInfo["{{s.step}}"]['category'] = "{{ s.category }}";
            stepInfo["{{s.step}}"]['savings'] = "{{ s.savings }}";
            stepInfo["{{s.step}}"]['step'] = "{{ s.step }}";
        {% endfor %}

        $(function() {
                var availableTags = [
                {% for step in allSteps %}
                        "{{ step | raw }}",
                {% endfor %}
                ];
                $( "#form_step" ).autocomplete({
                        source: availableTags,
                        select: function(event, ui) {
                            var category = stepInfo[ui.item.value]['category'];

                            $("div.category-selections#organization").find('div.category-selection').removeClass("selected");
                            var catBox = $('div.category-selections#organization').find("div#" + category + ".category-selection");
                            catBox.addClass("selected");

                            var savings = stepInfo[ui.item.value]['savings'];

                            $("div.savings-selection").removeClass("selected");
                            var savingsBox = $("div#" + savings + ".savings-selection");
                            savingsBox.addClass("selected");
                        }
                });
        });
    </script>

    <div style="width: 100%; text-align: center; margin: 15px 0;">
        <div style="font-size: 24px; font-weight: bold;">Part of an organization or business in Tompkins County? Join the campaign!</div>
        <br/>
        <div style="font-size: 16px; margin-top: 5px;">If your organization takes a step to save money and energy that you have not taken before, we will feature your logo on our site.</div>
    </div>

    <div id="org-form" class="box-form">
        <form action="{{ path('organization') }}" method="post" {{ form_enctype(orgForm) }}>
            {{ form_errors(orgForm) }}

            <h2>Your Organization</h2>

            {{ form_row(orgForm.name) }}

            {{ form_row(orgForm.email) }}

            {{ form_row(orgForm.website) }}

            {{ form_row(orgForm.logo) }}

            <br/>

            Does your organization work in one of these areas?
            <div class="category-selections" id="organization">
                {% for category in categoryNames %}
                   <a href="#" title="{{ category|capitalize }}">
                    <div class="category-selection" id="{{ category }}"><img src="{{ asset('images/' ~ categoryIcons[category] ~ '-small.png') }}" /><span class="category-name">{{ category|capitalize }}</span></div>
                   </a>
                {% endfor %}
            </div>

            <br/>

            <h2>Your Step</h2>

            {{ form_row(orgForm.step) }}

            {{ form_row(orgForm.story) }}

            <br/>
            What area was your step in?
            <div class="category-selections" id="step">
                {% for category in categoryNames %}
                   <a href="#" title="{{ category|capitalize }}">
                    <div class="category-selection" id="{{ category }}"><img src="{{ asset('images/' ~ categoryIcons[category] ~ '-small.png') }}" /><span class="category-name">{{ category|capitalize }}</span></div>
                   </a>
                {% endfor %}
            </div>

            <br/>

            <span class="box-form-label">How much money did you save?</span>

            <div class="savings-selections">
                <a href="#" title="small amount">
                    <div class="savings-selection" id="low">$</div>
                </a>
                <a href="#" title="medium amount">
                    <div class="savings-selection" id="medium">$$</div>
                </a>
                <a href="#" title="large amount">
                    <div class="savings-selection" id="high">$$$</div>
                </a>
            </div>

            {{ form_rest(orgForm) }}
            <input class="button submit" value="Join" type="submit" />
        </form>


    </div>

{% endblock content %}
