{#<h2>or share your own step</h2>    #}

<div id="custom-step">
    <form action="{{ path('home') }}" method="post" {{ form_enctype(customStepForm) }}>
        {{ form_errors(customStepForm) }}

        {{ form_row(customStepForm.name) }}

        {{ form_row(customStepForm.step) }}

        <span style="text-align: center; width: 100%; float: left;">or pick a common step:</span>
        
        {% include "GYGBFrontBundle:Home:_basicSteps.html.twig" with {'basicSteps' : basicSteps} %}
    

        {{ form_rest(customStepForm) }}
        <input class="button submit" value="Share" type="submit" />
    </form>

    {#<div id="your-step">
        <img src="{{ asset('images/foot/black.png') }}" />
    </div> #}
</div>