<div class="step-list" id="recent-step-list">
     <div class="step-list-container">
        {% for recentStep in recentSteps %}
                <div class="step-container {% if loop.first %}first{% endif %}">
                    <div class="step {{ recentStep.step.category }} {% if loop.first %}first{% endif %}">
                        {% if recentStep.step.savingsLabel %}<span class="savings">{{ recentStep.step.savingsLabel }}</span>{% endif %}
                        <span class="step">
                            <a class="step-link" href="{{ path('takeAStep', {'id' : recentStep.id }) }}">
                                {{ recentStep.name }}{% if not recentStep.step.stepIsAbbreviated %}:{% endif %} {{ recentStep.step.abbrvStep }}
                            </a>
                        </span>
                        <span class="date">{{ recentStep.datetimeSubmitted|date("F j, Y g:i") }}</span>
                    </div>
                </div>
        {% endfor %}
        <div class="step" style="border-bottom: none; text-align: center;">
            <span class="step" style=""><a href="{{ path('findAStep') }}" style="color: #0066cc;">See more steps &rarr;</a></span>
        </div>
    </div>
</div>
