<div class="step-list" id="recent-step-list">
    <form>
        {% for recentStep in recentSteps %}
            <a class="step-link" href="{{ path('steps') }}">
                <div class="step {{ recentStep.step.category }} {% if loop.first %}first{% endif %}">
                    {% if recentStep.step.savingsLabel %}<span class="savings">{{ recentStep.step.savingsLabel }}</span>{% endif %}
                    <span class="step" style="width: 200px;">{{ recentStep.name }}{% if not recentStep.step.stepIsAbbreviated %}:{% endif %}
                    {{ recentStep.step.abbrvStep }}</span>
                    <span class="date">{{ recentStep.datetimeSubmitted|date("F j, Y g:i") }}</span>
                </div>
            </a>
        {% endfor %}
        <div class="step" style="border-bottom: none; text-align: center;">
            <span class="step" style=""><a href="{{ path('steps') }}" style="color: #0066cc;">See more steps &rarr;</a></span>
        </div>
    </form>
</div>
