<div id="step-form" class="box-form">
    <form action="{{ path('home') }}" method="post" {{ form_enctype(stepForm) }}>
        {{ form_errors(stepForm) }}

        {{ form_row(stepForm.name) }}

        {{ form_row(stepForm.step) }}

        {{ form_row(stepForm.story) }}

        <br/>
        <span class="box-form-label">What area was your step in?</span>
        
        <div class="category-selections">
            {% for category in categoryNames %}
                <a href="#" title="{{ category|capitalize }}">
                    <div class="category-selection" id="{{ category }}">
                        <img src="{{ asset('images/' ~ categoryIcons[category] ~ '-small.png') }}" />
                        <span class="category-name">{{ category|capitalize }}</span>
                    </div>
               </a>
            {% endfor %}
        </div>
        
        <span class="box-form-label">How much money did you save?</span>
        
        <div class="savings-selections">
            <a href="#" title="small amount">
                <div class="savings-selection" id="low">$</div>
            </a>
            <a href="#" title="medium amount">
                <div class="savings-selection" id="medium">$$</div>
            </a>
            <a href="#" title="large amount">
                <div class="savings-selection" id="high">$$$</div>
            </a>
        </div>
            
        {{ form_rest(stepForm) }}
        <input class="button submit" value="Share" type="submit" />
    </form>

  
</div>