{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}" type="text/css">        
    <link rel="stylesheet" href="{{ asset('styles/resourceList.css') }}" type="text/css">        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/resourceList.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/home.js') }}" type="text/javascript"></script>
{% endblock %}    
    
{% block content %}
    
    <div id="about-container">
        {% include "GYGBFrontBundle:Home:_about.html.twig" %}  
    </div>
    
    <div id="home-columns-container">

        <div class="home-column">
            <h3><a href="{{ path('findAStep') }}">Find a step</a></h3>
            <span>Find a step to save money & energy and enter a raffle to win up to $2000 in prizes!</span>
            <img style="margin: 10px auto; height: 150px;" src="{{ asset('images/vert-step-general.png') }}" />
        </div>

        <div class="home-column">
            <h3><a href="{{ path('community') }}">Community</a></h3>
            <span>See what others in Tompkins County are doing to save money and energy</span>
            <img style="width: 225px; margin: 10px auto;" src="{{ asset('images/youthfarm.jpg') }}" />
        </div>

        <div class="home-column">
            <h3><a href="{{ path('resources') }}">Resources</a></h3>
            <span>Connect with local organizations, businesses, and initiatives that can help you save money and energy</span>
            <img style="width: 200px; margin: 20px auto;" src="{{ asset('files/logos/upgradeupstate.jpg') }}" />
        </div>

    </div>
    
    <div id="enter-raffle-container">
        <div id="about-you-container">
            GET YOUR GREENBACK is about YOU taking a new step to save money and grow our economy-and then sharing your best
            ideas on how to do that with the rest of us. So... <br/>
        </div>
        <div id="enter-raffle">
            <a href="{{ path('findAStep') }}">TAKE YOUR FIRST STEP</a> AND <a href="{{ path('shareAStep') }}">ENTER THE RAFFLE</a>
            to win over $2,000 in prizes.
        </div>
        <div>&nbsp;</div>
    </div>

    {% if featuredResources|length > 0 %}
        <br/>
        <h1>Featured Resources</h1>
        {% include "GYGBFrontBundle:Resources:_resourceList.html.twig" with {'resources' : featuredResources, 'showSteps' : false } %}
    {% endif %}

    <div id="communities-supported">
        Supporting the communities of Ithaca, Lansing, Dryden, Freeville, Groton, Trumansburg, Cayuga Heights, Caroline, Danby, Newfield, Enfield and Ulysses in taking energy-saving steps.
    </div>

    <div id="founders-and-sponsors">
        <div class="logo-block">
            <a href="http://www.tompkins-co.org/" target="_blank">
                <img src="{{ asset('files/logos/tompkins.gif') }}">
            </a>
            <a href="http://www.ci.ithaca.ny.us/" target="_blank">
                <img src="{{ asset('files/logos/cityithaca.png') }}">
            </a>
            <a href="http://www.town.ithaca.ny.us/" target="_blank">
                <img src="{{ asset('files/logos/townithaca.gif') }}">
            </a>
            <a href="http://ccetompkins.org" target="_blank">
                <img src="{{ asset('files/logos/ccetompkins.jpg') }}" style="width: 152px;">
            </a>
            <a href="http://dryden.ny.us/" target="_blank">
                <img src="{{ asset('files/logos/dryden.png') }}" style="width: 75px;">
            </a>
            <a href="http://www.tccpi.org/" target="_blank">
                <img src="{{ asset('files/logos/tccpi.png') }}" style="width: 70px;">
            </a>
            <a href="http://www.tcactionweb.org/cms/" target="_blank">
                <img src="{{ asset('files/logos/tcaction.png') }}">
            </a>
            <a href="http://www.cargill.com/" target="_blank">
                <img src="{{ asset('files/logos/cargill.jpg') }}" style="width: 92px;">
            </a>
            <a href="http://creating.theseen.org/" target="_blank">
                <img src="{{ asset('files/logos/seen.jpg') }}" style="width: 72px;">
            </a>
            <a href="http://sustainabletompkins.org/" target="_blank">
                <img src="{{ asset('files/logos/sustainabletompkins.gif') }}" style="width: 168px;">
            </a>
        </div>
    </div>
{% endblock content %}