{% extends '::layout.html.twig' %}

{% block content %}

    <script>
        // build an array of steps for the autocomplete on the form
        var stepInfo = new Object;

        {% for s in allStepInfo %}
            stepInfo["{{s.step}}"] = new Object;
            stepInfo["{{s.step}}"]['category'] = "{{ s.category }}";
            stepInfo["{{s.step}}"]['savings'] = "{{ s.savings }}";
            stepInfo["{{s.step}}"]['step'] = "{{ s.step }}";
        {% endfor %}

        $(function() {
                var availableTags = [
                {% for step in allSteps %}
                        "{{ step | raw }}",
                {% endfor %}
                ];
                $( "#form_step" ).autocomplete({
                        source: availableTags,
                        select: function(event, ui) {
                            var category = stepInfo[ui.item.value]['category'];

                            $("div.category-selection").removeClass("selected");
                            var catBox = $("div#" + category + ".category-selection");
                            catBox.addClass("selected");

                            var savings = stepInfo[ui.item.value]['savings'];

                            $("div.savings-selection").removeClass("selected");
                            var savingsBox = $("div#" + savings + ".savings-selection");
                            savingsBox.addClass("selected");
                        }
                });
        });
    </script>

    
    <div id="step-submission-container">
        <div id="whats-your-step">
            <span id="whats-your-step-heading">What's your step?</span>

            {% include "GYGBFrontBundle:Home:_stepForm.html.twig" with {'stepForm' : stepForm, 'basicSteps' : basicSteps, 'categoryNames' : categoryNames, 'categoryIcons' : categoryIcons } %}
        </div>

        {% render "GYGBFrontBundle:Steps:stepsTakenCounter" %} 
        {% render "GYGBFrontBundle:Steps:recentStepList" %}  
    </div>

    <div id="partners">
        <h1>Founding Partners</h1>

        {% include "GYGBFrontBundle:Home:_logos.html.twig" with {'logoBlocks' : partnerBlocks } %}
    </div>

    <div id="organizations">
        <h1>Community Organizations</h1>

        {% include "GYGBFrontBundle:Home:_logos.html.twig" with {'logoBlocks' : orgBlocks } %}

        <a id="join-the-campaign" href="{{ path('organization') }}">Part of an organization? Join the campaign.</a>

    </div> 

    {# hidden div to include a bool that triggers some javascript when a step is submitted #}
    <div id="stepTakenBool" style="display: none;">
        {% if stepTaken %}true{% endif %}
    </div>

{% endblock content %}