{% extends '::layout.html.twig' %}

{% block content %}

<script>
        var stepInfo = new Object;

        {% for s in allStepInfo %}
            stepInfo["{{s.step}}"] = new Object;
            stepInfo["{{s.step}}"]['category'] = "{{ s.category }}";
            stepInfo["{{s.step}}"]['savings'] = "{{ s.savings }}";
            stepInfo["{{s.step}}"]['step'] = "{{ s.step }}";
        {% endfor %}

        $(function() {
		var availableTags = [
		{% for step in allSteps %}
                        "{{ step | raw }}",
                {% endfor %}
                ];
		$( "#form_step" ).autocomplete({
			source: availableTags,
                        select: function(event, ui) {
                            var category = stepInfo[ui.item.value]['category'];
                            
                            $("div.category-selection").removeClass("selected");
                            var catBox = $("div#" + category + ".category-selection");
                            catBox.addClass("selected");
                            
                            var savings = stepInfo[ui.item.value]['savings'];

                            $("div.savings-selection").removeClass("selected");
                            var savingsBox = $("div#" + savings + ".savings-selection");
                            savingsBox.addClass("selected");
                        }
		});
	});
</script>

    
    <div style="width: 100%; float: left; border-bottom: 1px solid #ddd; padding: 15px 0;">
    <div style="padding: 0 10px;">
    <div class="block" id="whats-your-step">
        <span style="margin: 10px; font-size: 2em; width: 324px; float: right;">What's your step?</span>
        {#<div style="width: 100%; font-size: 24px; text-align: center; font-weight: bold;">Tell us what you've done to save energy and money:</div><br/>#}

        
        {% include "GYGBFrontBundle:Home:_customStepForm.html.twig" with {'customStepForm' : customStepForm, 'basicSteps' : basicSteps, 'categoryNames' : categoryNames, 'categoryIcons' : categoryIcons } %}


       {# {% render "GYGBFrontBundle:Steps:categoryBoxes" %}   #}
    </div>
        {% render "GYGBFrontBundle:Steps:stepsTaken" %} 
        {% render "GYGBFrontBundle:Steps:recentSteps" %}  
     </div>
     </div>
       
        <div id="partners" style="border-bottom: 1px solid #ddd;">
            <h2>Founding Partners</h2>
 
            {% include "GYGBFrontBundle:Home:_logos.html.twig" with {'logoBlocks' : partnerBlocks } %}
        </div>

        <div id="organizations">
            <h2>Community Organizations</h2>

            {% include "GYGBFrontBundle:Home:_logos.html.twig" with {'logoBlocks' : orgBlocks } %}
        </div> 
    
    {% include "GYGBFrontBundle:Home:_orgForm.html.twig" with {'orgForm' : orgForm, 'basicSteps' : basicSteps, 'categoryNames' : categoryNames, 'categoryIcons' : categoryIcons } %}
       

    <div id="stepTakenBool" style="display: none;">
        {% if stepTaken %}true{% endif %}
    </div>

    <div style="clear: both"></div>
{% endblock %}