{% extends '::layout.html.twig' %}

{% block content %}
    
    {% render "GYGBFrontBundle:Home:stepsTakenCounter" %} 

    <div class="home-column">
        <h2><a href="{{ path('findAStep') }}">1. Find a Step</a></h2>
        <h3>See what steps others are taking</h3>
        <img style="margin-top: 85px;" src="{{ asset('images/step-food.jpg') }}" />
    </div>

    <div class="home-column">
        <h2><a href="{{ path('takeAStep') }}">2. Take a Step and Save</a></h2>
        <h3>Save money and energy</h3>
        <img style="margin-top: 10px;" src="{{ asset('images/step-energy.jpg') }}" />
    </div>
     
    <div class="home-column">
        <h2><a href="{{ path('shareAStep') }}">3. Share a Step and Win</a></h2>
        <h3>Enter to win over $2,000 in prizes</h3>
        <img style="margin-top: 30px;" src="{{ asset('images/step-dollar.jpg') }}" />
    </div>

    <div class="about-container">
        {% include "GYGBFrontBundle:Home:_about.html.twig" %}  
    </div>
    

    <div id="founders-and-sponsors">
        <div style="width: 949px;" class="logo-block">
            <a href="http://www.tompkins-co.org/" target="_blank">
                <img src="{{ asset('files/logos/tompkins.gif') }}">
            </a>
            <a href="http://www.ci.ithaca.ny.us/" target="_blank">
                <img src="{{ asset('files/logos/cityithaca.png') }}">
            </a>
            <a href="http://www.town.ithaca.ny.us/" target="_blank">
                <img src="{{ asset('files/logos/townithaca.gif') }}">
            </a>
            <a href="http://ccetompkins.org" target="_blank">
                <img src="{{ asset('files/logos/ccetompkins.jpg') }}" style="width: 152px;">
            </a>
            <a href="http://dryden.ny.us/" target="_blank">
                <img src="{{ asset('files/logos/dryden.png') }}" style="width: 75px;">
            </a>
            <a href="http://www.tccpi.org/" target="_blank">
                <img src="{{ asset('files/logos/tccpi.png') }}" style="width: 70px;">
            </a>
            <a href="http://www.tcactionweb.org/cms/" target="_blank">
                <img src="{{ asset('files/logos/tcaction.png') }}">
            </a>
            <a href="http://www.cargill.com/" target="_blank">
                <img src="{{ asset('files/logos/cargill.jpg') }}" style="width: 92px;">
            </a>
            <a href="http://creating.theseen.org/" target="_blank">
                <img src="{{ asset('files/logos/seen.jpg') }}" style="width: 72px;">
            </a>
            <a href="http://sustainabletompkins.org/" target="_blank">
                <img src="{{ asset('files/logos/sustainabletompkins.gif') }}" style="width: 168px;">
            </a>
        </div>
    </div>
{% endblock content %}