{% extends '::layout.html.twig' %}

{% block content %}
    
    <div style="width: 96%; background: #D65629; padding: 0 20px; overflow: auto; margin-top: 50px;">

    <div class="home-column">
        <h2><a href="{{ path('findAStep') }}">1. Find a Step</a></h2>
        <h3>See what steps others are taking</h3>
        <img style="margin-top: 85px;" src="{{ asset('images/step-food.jpg') }}" />
    </div>

    <div class="home-column">
        <h2><a href="{{ path('takeAStep') }}">2. Take a Step and Save</a></h2>
        <h3>Save money and energy</h3>
        <img style="margin-top: 10px;" src="{{ asset('images/step-energy.jpg') }}" />
    </div>
     
    <div class="home-column">
        <h2><a href="{{ path('shareAStep') }}">3. Share a Step and Win</a></h2>
        <h3>Enter to win over $2,000 in prizes</h3>
        <img style="margin-top: 30px;" src="{{ asset('images/step-dollar.jpg') }}" />
    </div>
    
    </div>

    {% render "GYGBFrontBundle:Home:stepsTakenCounter" %} 
    <div>&nbsp;</div>



    <div class="about-container">
        {% include "GYGBFrontBundle:Home:_about.html.twig" %}  
    </div>

    {% if featuredResources|length > 0 %}
        <h1>Featured Resources</h1>
        {% include "GYGBFrontBundle:TakeAStep:_organizations.html.twig" with {'organizations' : featuredResources, 'showSteps' : false } %}
    {% endif %}

    {% if featuredSteps|length > 0 %}
        <h1>Featured Steps</h1>
        <div style="width: 600px; margin: 0 auto;">
            <div class="step-list-container">
                {% for step in featuredSteps %}
                        <div id="{{ loop.index }}" class="step-container {{ step.category }} {% if loop.first %}first{% endif %} {% if loop.last %}last{% endif %}">
                            <div class="step {{ step.category }}">
                                <span class="count">{{ step.stepCount }}</span>
                                <span style="float: left; margin: 5px 10px 5px 0; font-size: 11px;">step{% if step.stepCount != 1%}s{%endif%}</span>
                                <span class="count">{{ step.commitmentCount }}</span>
                                <span style="float: left; margin: 5px 10px 5px 0; font-size: 11px;">commitment{% if step.stepCount != 1%}s{%endif%}</span>
                                <span class="step">
                                    <a class="step-link" href="{{ path('takeAStep', {'id' : step.id }) }}"> 
                                        {{ step.title }}
                                    </a>
                                </span>
                            </div>
                       </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div id="founders-and-sponsors">
        <div style="width: 949px;" class="logo-block">
            <a href="http://www.tompkins-co.org/" target="_blank">
                <img src="{{ asset('files/logos/tompkins.gif') }}">
            </a>
            <a href="http://www.ci.ithaca.ny.us/" target="_blank">
                <img src="{{ asset('files/logos/cityithaca.png') }}">
            </a>
            <a href="http://www.town.ithaca.ny.us/" target="_blank">
                <img src="{{ asset('files/logos/townithaca.gif') }}">
            </a>
            <a href="http://ccetompkins.org" target="_blank">
                <img src="{{ asset('files/logos/ccetompkins.jpg') }}" style="width: 152px;">
            </a>
            <a href="http://dryden.ny.us/" target="_blank">
                <img src="{{ asset('files/logos/dryden.png') }}" style="width: 75px;">
            </a>
            <a href="http://www.tccpi.org/" target="_blank">
                <img src="{{ asset('files/logos/tccpi.png') }}" style="width: 70px;">
            </a>
            <a href="http://www.tcactionweb.org/cms/" target="_blank">
                <img src="{{ asset('files/logos/tcaction.png') }}">
            </a>
            <a href="http://www.cargill.com/" target="_blank">
                <img src="{{ asset('files/logos/cargill.jpg') }}" style="width: 92px;">
            </a>
            <a href="http://creating.theseen.org/" target="_blank">
                <img src="{{ asset('files/logos/seen.jpg') }}" style="width: 72px;">
            </a>
            <a href="http://sustainabletompkins.org/" target="_blank">
                <img src="{{ asset('files/logos/sustainabletompkins.gif') }}" style="width: 168px;">
            </a>
        </div>
    </div>
{% endblock content %}