{% extends '::layout.html.twig' %}

{% block content %}
    
    {% render "GYGBFrontBundle:Home:stepsTakenCounter" %} 

    <div class="home-column">
        <h2><a href="{{ path('findAStep') }}">1. Find a Step</a></h2>
        <h3>See what steps others are taking</h3>
        <img style="margin-top: 85px;" src="{{ asset('images/step-food.jpg') }}" />
    </div>

    <div class="home-column">
        <h2><a href="{{ path('takeAStep') }}">2. Take a Step and Save</a></h2>
        <h3>Save money and energy</h3>
        <img style="margin-top: 10px;" src="{{ asset('images/step-energy.jpg') }}" />
    </div>
     
    <div class="home-column">
        <h2><a href="{{ path('shareAStep') }}">3. Share a Step and Win</a></h2>
        <h3>Enter to win over $2,000 in prizes</h3>
        <img style="margin-top: 30px;" src="{{ asset('images/step-dollar.jpg') }}" />
    </div>

    <div class="about-container">
        {% include "GYGBFrontBundle:Home:_about.html.twig" %}  
    </div>
    

    <div id="founders-and-sponsors">
        {% include "GYGBFrontBundle:Home:_logos.html.twig" with {'logoBlocks' : foundersAndSponsors } %}
    </div>

{% endblock content %}