{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/community.css') }}" type="text/css">        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/stepList.js') }}" type="text/javascript"></script>
{% endblock %}        
    
{% block content %}
<h1>Community</h1>
<h3>See what others in the Tompkins County community are doing to save money and energy.</h3>
    
{% render "GYGBFrontBundle:Community:stepsTakenCounter" %}  
{% render "GYGBFrontBundle:Community:commitmentsMadeCounter" %}  

{{ knp_menu_render('GYGBFrontBundle:Builder:communityMenu') }}

{% endblock %}