
    {% if organizations|length > 0 %}<div class="organizations">{% endif %}
        {% for organization in organizations %}
            <div class="organization-container">
                <div class="organization">
                    <div class="title-container">
                        {% if organization.website is defined %}<a class="box-link" target="_blank" href="{{ organization.website }}">{% endif %}
                            {{ organization.name }}
                        {% if organization.website is defined %}</a>{% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="edit" href="{{ admin.generateObjectUrl('edit', organization) }}">edit</a>
                        {% endif %}
                    </div>
                    {% if organization.logo is defined and organization.logo != "" %}
                        <img src="{{ asset('files/logos/' ~ organization.logo) }}" /> 
                    {% endif %}
                    {% if organization.description is defined %}
                        <div class="description">
                            {{ organization.description|raw }}
                        </div>
                    {% endif %}
                    {% if organization.featuredSteps|length > 0 and showSteps %}
                    <div class="organization-steps">
                        <h2>Related Steps</h2>
                        <div class="step-list-container">
                        {% for step in organization.featuredSteps %}
                                <div id="{{ loop.index }}" class="step-container {{ step.category }} {% if loop.first %}first{% endif %} {% if loop.last %}last{% endif %}">
                                    <div class="step {{ step.category }}">
                                        <span class="count">{{ step.stepCount }}</span>
                                        <span style="float: left; margin: 5px 10px 5px 0; font-size: 11px;">step{% if step.stepCount != 1%}s{%endif%}</span>
                                        <span class="count">{{ step.commitmentCount }}</span>
                                        <span style="float: left; margin: 5px 10px 5px 0; font-size: 11px;">commitment{% if step.stepCount != 1%}s{%endif%}</span>
                                        <span class="step">
                                            <a class="step-link" href="{{ path('takeAStep', {'id' : step.id }) }}"> 
                                                {{ step.title }}
                                            </a>
                                        </span>
                                    </div>
                               </div>
                        {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div style="clear: both;"></div>
                </div>
            </div>
        {% endfor %}
    {% if organizations|length > 0 %}                    <div style="clear: both;"></div>
</div>{% endif %}
    