{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/stepList.css') }}" type="text/css">        
    <link rel="stylesheet" href="{{ asset('styles/takeAStep.css') }}" type="text/css">        
    <link rel="stylesheet" href="{{ asset('styles/resourceList.css') }}" type="text/css">        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/resourceList.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/takeAStep.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/stepList.js') }}" type="text/javascript"></script>
{% endblock %}    
    
{% block content %}
    {% include 'GYGBFrontBundle:Steps:_takeAStepMenu.html.twig' %}
    <div class="alert-message block-message info">
        <h3>Take a step and save money and energy.</h3>
        Commit to taking a step and find resources to help you take it.
    </div>
    

    <div id="take-a-step-page-container">
        <div class="take-a-step-box">
            {% include "GYGBFrontBundle:StepList:_step.html.twig" with {'step' : step, 'id' : step.id, 'displayCounts' : true, 'linkStep' : false, 'first' : false, 'last' : true } %}

            <span class="description"><p>{{ step.description|raw }}</p></a>
        </div>

        {% if events|length > 0 %}
            {% include "GYGBFrontBundle:EventList:_eventList.html.twig" with {
                'events' : events,
                'id' : 'step-events',
                'noEventsText' : 'No one has taken this step! Be the first.',
                'linkEvents' : false,
                'justStory' : false,
                'showCustomLabel' : false
            } %}
        {% endif %}
            
        <div id="step-buttons-container" class="row">
                <div class="commit-to-this-step span7">
                    {% if not commited and not taken %}
                        <a class="btn large success" href="#step-buttons-container" id="commit-to-this-step">Commit to taking this step</a>
                    {% elseif not taken %}
                        <div style="font-size: 20px; float: left; margin: 0 0 10px 0;">
                                <img style="float: left;" src="{{ asset('images/check.png') }}" />
                                <span style="float: left; padding: 10px 0 0 10px; margin: 0 0 10px 0;">You've committed to taking this step.</span>
                        </div>
                    {% endif %}
                </div>
                <div class="share-this-step pull-right">
                    {% if not taken %}
                        Have you taken this step? <a class="btn large success" href="{{ path('shareAStep', {'id':step.id}) }}">Share it! &rarr;</a>
                    {% else %}
                        <div style="font-size: 20px; float: right;">
                            <div style="">
                                <img style="float: left;" src="{{ asset('images/check.png') }}" />
                                <span style="float: left; padding: 10px 0 0 10px; margin: 0 0 10px 0;">You've taken this step.</span><br/>
                            </div>
                            <div>&nbsp;</div>
                        </div>
                    {% endif %}
                </div>
        </div>

        {% if not commited %}
            {% include "GYGBFrontBundle:TakeAStep:_commitmentForm.html.twig" with {'step' : step, 'commitmentForm' : commitmentForm } %}            
        {% endif %}
            
        {% if not taken %}
            <h1>Need help taking this step?</h1>
        {% endif %}
        {% include "GYGBFrontBundle:Resources:_resourceList.html.twig" with {'resources' : resources, 'showSteps' : false } %}
        
    </div>
    
{% endblock content %}