{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/stepList.css') }}" type="text/css">        
    <link rel="stylesheet" href="{{ asset('styles/takeAStep.css') }}" type="text/css">        
    <link rel="stylesheet" href="{{ asset('styles/resourceList.css') }}" type="text/css">        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/resourceList.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/takeAStep.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/stepList.js') }}" type="text/javascript"></script>
{% endblock %}    
    
{% block content %}
    {% include 'GYGBFrontBundle:Steps:_takeAStepMenu.html.twig' %}
    
    <span class="take-a-step-heading">Commit to taking a step and find resources to help you take it.</div>
    
    <div id="take-a-step-page-container">
        {% if commited or taken %}
            <div style="width: 100%;">
            {% if commited and taken == false %}
                <div style="font-size: 20px; float: right; margin: 0 0 10px 0;">
                        <span style="">You have committed to taking this step.</span>
                </div>
            {% elseif taken %} 
                <div style="font-size: 20px; float: right;">
                    <div style="">
                        <img style="float: left;" src="{{ asset('images/check.png') }}" />
                        <span style="float: left; padding: 10px 0 0 10px; margin: 0 0 10px 0;">You have taken this step.</span><br/>
                    </div>
                    <div>&nbsp;</div>
                </div>
            {% endif %}
                <div style="clear: both;">&nbsp;</div>
            </div>
        {% endif %}

        <div class="take-a-step-box">
            {% include "GYGBFrontBundle:StepList:_step.html.twig" with {'step' : step, 'id' : step.id, 'displayCounts' : true, 'linkStep' : false, 'first' : false, 'last' : true } %}

            <span class="description">{{ step.description|raw }}</a>
        </div>

        {% include "GYGBFrontBundle:EventList:_eventList.html.twig" with {'events' : events, 'id' : 'step-events', 'noEventText' : 'No one has taken this step! Be the first.', 'linkEvents' : false } %}

        <div class="step-buttons-container">
            {% if not taken %}    
                <div class="commit-to-this-step">
                    {% if not commited %}
                        <a class="button" href="#" id="commit-to-this-step">Commit to taking this step</a>

                        <div id="commit-form" class="box-form">
                            <form action="{{ path('takeAStep', {'id': step.id}) }}" method="post" {{ form_enctype(commitmentForm) }}>
                                {{ form_errors(commitmentForm) }}
                                {{ form_row(commitmentForm.commitment) }}
                                {% if not is_granted('ROLE_USER') %}
                                    {{ form_row(commitmentForm.name) }}
                                    {{ form_row(commitmentForm.email) }}
                                    <span class="field-help">used to enter you into our raffle - your e-mail will not be displayed or shared with anyone</span>
                                {% endif %}
                                {{ form_rest(commitmentForm) }}
                                <br/>
                                <input class="button submit" value="Commit" type="submit" />

                            </form>
                        </div>
                    {% endif %}
                </div>
                <div class="share-this-step">
                        Have you taken this step? <a class="button" href="{{ path('shareAStep', {'id':step.id}) }}">Share it! &rarr;</a>
                </div>
                <div style="clear: both;">&nbsp;</div>
            {% endif %}
        </div>

        {% if not taken %}<h1>Need help taking this step?</h1>{% endif %}
        {% include "GYGBFrontBundle:Resources:_resourceList.html.twig" with {'resources' : resources, 'showSteps' : false } %}
        
    </div>
    
{% endblock content %}