{% extends '::layout.html.twig' %}

{% block content %}
<h1>Steps Taken</h1>
<h2>See what others in the Tompkins County community are doing to save money and energy.</h2>
    
 {#{% render "GYGBFrontBundle:Home:stepsTakenCounter" %}  
 {% render "GYGBFrontBundle:Home:commitmentsCounter" %}  
#}
<div class="step-list-container" id="community-steps">
    {% for event in events %}
        <div class="step-container {% if loop.first %}first {% endif %}{% if loop.last %}last {% endif %}">
        <div class="step {{ event.category }} ">
            <span class="name">{{ event.name }}
            </span>
            <span class="story"><a class="step-link" href="{{ path('takeAStep', {'id': event.stepId }) }}">{{ event.text }}</a></span>
            <span class="date">{{ event.datetime|date("F j, Y g:i a") }}</span>
        </div>
        </div>
    {% endfor %}
</div>

{% endblock %}