
    <div id="step-list" style="width: 52%; margin: 15px 0 20px 0;">
        <form>
        <fieldset style="-moz-border-radius: 7px; padding: 4px 0;">
        {#<legend style="font-size: 20px; color: green; font-weight: bold; margin-left: 27%; padding: 0 5px;">Steps Taken</legend>#}
                
        {% for step in steps %}
            <a href="{{ path('steps', {'category' : category, 'sort' : sort, 'savings': savings, 'id' : step.id }) }}">
                <div class="step {{ step.category }} {% if loop.first %}first{% endif %}">
                    {% if step.savingsLabel %}<span class="savings">{{ step.savingsLabel }}</span>{% endif %}
                    <span class="count">{{ step.count }}</span>
                    <span class="step">{{ step.step }}</span>
                 {% if id is defined and id == step.id %}
                    <div style="height: 50px;">Additional Information</div>

            
                 {% endif %}
               </div>

              
             </a>
        {% endfor %}
        </fieldset>
        </form>
    </div>
