{% extends '::layout.html.twig' %}

{% block content %}
    <div id="step-page-container">
        <div id="step-option-container">
            <div id="search-steps">
                <form action="{{ path('steps') }}" method="post" {{ form_enctype(stepSearchForm) }}>
                    {{ form_errors(stepSearchForm) }}

                    {{ form_row(stepSearchForm.terms) }}

                    {{ form_rest(stepSearchForm) }}
                    <input class="button submit" value="Search" type="submit" />
                </form>
            </div>

            <div id="sort-options">
                <a href="{{ path('steps', {'categories' : categories, 'sort' : 'recent', 'savings': savings }) }}" class="button {% if sort == 'recent' and id == "" %}current{% endif%}">Recent</a>
                <a href="{{ path('steps', {'categories' : categories, 'sort' : 'popular', 'savings': savings }) }}" class="button last {% if sort == 'popular' and id == "" %}current{% endif%}">Popular</a>
            </div>
        </div>

        <div id="filters">
            <a href="{{ path('steps') }}">
                <div class="category-filter button {%
                    if savings == "all"
                    and selectedCategoryFilters['all'] is defined
                    and (terms == "" or terms is not defined)
                    and (id == "" or id is not defined ) %}
                        current{% endif %}">
                    <span class="category-filter-label">View All</span> ({{ totalSteps }})
                </div>
            </a>


            <span class="page-break">&nbsp;</span>

            {% for c in categoryNames %}
                <a href="{{ path('steps', {'categories' : categoryFilterHREFs[c], 'sort' : sort, 'savings': savings }) }}">
                    <div class="category-filter button {% if selectedCategoryFilters[c] is defined %}current{% endif %}">
                        <img src="{{ asset('images/' ~ categoryIcons[c] ~ '-small.png') }}" /><span class="category-filter-label">{{ c|capitalize }}</span> ({{ categoryTotals[c] }})
                    </div>
                </a>
            {% endfor %}

            <span class="page-break">&nbsp;</span>

            <a href="{{ path('steps', {'categories' : categories, 'sort' : sort, 'savings': 'low' }) }}">
                <div class="category-filter button {% if savings == "low" %}current{% endif %}">
                    <span class="category-filter-label">$</span> Low Savings
                </div>
            </a>
            <a href="{{ path('steps', {'categories' : categories, 'sort' : sort, 'savings': 'medium' }) }}">
                <div class="category-filter button {% if savings == "medium" %}current{% endif %}">
                    <span class="category-filter-label">$$</span> Medium Savings
                </div>
            </a>
            <a href="{{ path('steps', {'categories' : categories, 'sort' : sort, 'savings': 'high' }) }}">
                <div class="category-filter button {% if savings == "high" %}current{% endif %}">
                    <span class="category-filter-label">$$$</span> High Savings
                </div>
            </a>
        </div>

        <br/>

        {% if id is defined and id != "" %}
            {% render "GYGBFrontBundle:Steps:stepDetails" with {'id' : id } %}
            {% render "GYGBFrontBundle:Steps:organizationAds" with {'selectedCategoryFilters' : idCategory } %}   
        {% else %}
            {% render "GYGBFrontBundle:Steps:allStepList" with {'categories' : categories, 'sort' : sort, 'terms' : terms, 'savings' : savings, 'id' : id } %}   
            {% render "GYGBFrontBundle:Steps:organizationAds" with {'selectedCategoryFilters' : selectedCategoryFilters } %}   
        {% endif %}

    </div>
{% endblock %}