{% extends '::layout.html.twig' %}

{% block content %}
    <div id="step-page-container">
        <div id="step-option-container">
            <div id="search-steps">
                <form action="{{ path('steps') }}" method="post" {{ form_enctype(stepSearchForm) }}>
                    {{ form_errors(stepSearchForm) }}

                    {{ form_row(stepSearchForm.terms) }}

                    {{ form_rest(stepSearchForm) }}
                    <input class="button submit" value="Search" type="submit" />
                </form>
            </div>

            <div id="sort-options">
                <a href="{{ path('steps', {'categories' : categories, 'sort' : 'recent', 'savings': savings }) }}" class="button {% if sort == 'recent' %}current{% endif%}">Recent</a>
                <a href="{{ path('steps', {'categories' : categories, 'sort' : 'popular', 'savings': savings }) }}" class="button last {% if sort == 'popular' %}current{% endif%}">Popular</a>
            </div>
        </div>


        <div id="filters">
            <a href="{{ path('steps') }}">
                <div class="category-filter button {% if savings == "all" and currentCategories['all'] is defined %}current{% endif %}">
                    <span class="category-filter-label">View All</span> ({{ totalSteps }})
                </div>
            </a>


            <span style="border-bottom: 1px solid #ccc; width: 100%; display: block; margin: 0 0 15px 2px;">&nbsp;</span>

            {% for c in categoryNames %}
                <a href="{{ path('steps', {'categories' : categoryLinks[c], 'sort' : sort, 'savings': savings }) }}">
                    <div class="category-filter button {% if currentCategories[c] is defined %}current{% endif %}">
                        <img src="{{ asset('images/' ~ categoryIcons[c] ~ '-small.png') }}" /><span class="category-filter-label">{{ c|capitalize }}</span> ({{ categoryTotals[c] }})
                    </div>
                </a>
            {% endfor %}

            <span style="border-bottom: 1px solid #ccc; width: 100%; display: block; margin: 0 0 15px 2px;">&nbsp;</span>

            <a href="{{ path('steps', {'categories' : categories, 'sort' : sort, 'savings': 'low' }) }}">
                <div class="category-filter button {% if savings == "low" %}current{% endif %}">
                    <span class="category-filter-label">$</span> Low Savings
                </div>
            </a>
            <a href="{{ path('steps', {'categories' : categories, 'sort' : sort, 'savings': 'medium' }) }}">
                <div class="category-filter button {% if savings == "medium" %}current{% endif %}">
                    <span class="category-filter-label">$$</span> Medium Savings
                </div>
            </a>
            <a href="{{ path('steps', {'categories' : categories, 'sort' : sort, 'savings': 'high' }) }}">
                <div class="category-filter button {% if savings == "high" %}current{% endif %}">
                    <span class="category-filter-label">$$$</span> High Savings
                </div>
            </a>
        </div>

        <br/>

        {% render "GYGBFrontBundle:Steps:allStepList" with {'categories' : categories, 'sort' : sort, 'terms' : terms, 'savings' : savings, 'id' : id } %}   

        <div id="ads">
            {% for a in orgAds %}
                <div class="logo-container" style="{% if a.width is defined %}width: {{ a.width }}px{% else %}90px{% endif %}">
                    <a href="{{ a.website }}">
                        <img style="{% if a.width is defined %}width: {{ a.width }}px{% endif %}" src="{{ asset('images/logos/'~a.logo) }}" />
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}