{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/stepList.css') }}" type="text/css">        
    <link rel="stylesheet" href="{{ asset('styles/mySteps.css') }}" type="text/css">        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/stepList.js') }}" type="text/javascript"></script>
{% endblock %}            
    
{% block content %}
    <h1>My {{ type|capitalize }}s</h1>

    {{ knp_menu_render('GYGBFrontBundle:Builder:myStepsMenu') }}
    
    {% include "GYGBFrontBundle:StepSubmissionList:_stepSubmissionList.html.twig" with {'stepSubmissions' : stepSubmissions, 'id' : 'my-steps', 'noStepSubmissionsText' : noStepSubmissionsText, 'linkStepSubmissions' : true, 'edit' : 'my' ~ type|capitalize ~ 'sEdit', 'justText' : true, 'showCustomLabel' : true } %}

{% endblock content %}