{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/stepList.css') }}" type="text/css">        
    <link rel="stylesheet" href="{{ asset('styles/mySteps.css') }}" type="text/css">        
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/stepList.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/libraries/tiny_mce/tiny_mce.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/mySteps.js') }}" type="text/javascript"></script>
    
    {% if type == 'step' %}
        <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?sensor=false">
        </script>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <script src="{{ asset('js/map.js') }}" type="text/javascript"></script>    
        <script>
            $(document).ready(function() {

                {% if stepSubmission.latitude is defined and stepSubmission.latitude != "" %}
                    initializeEditMap({{ stepSubmission.latitude}}, {{stepSubmission.longitude}});
                {% else %}
                    initializeSubmissionMap();
                {% endif %}
            });
        </script>
    {% endif %}
        
    
{% endblock %}        

{% block content %}
    <h1>My {{ type|capitalize }}s - edit</h1>
    
    <div class="row form-stacked" id="event-form">
        <div class="span15">
            <form action="{{ path(urlBase ~ 'Edit', {'id' : stepSubmission.id, 'type' : type }) }}" method="post" {{ form_enctype(stepSubmissionForm) }}>
                {% if form_errors(stepSubmissionForm) %}
                    <div class="alert-message error block-message">
                        {{ form_errors(stepSubmissionForm) }}
                    </div>
                {% endif %}
        
                <fieldset>
                    <div class="span8 offset3">
                        {% include "GYGBFrontBundle:StepSubmissionList:_stepSubmission.html.twig" with {'stepSubmission' : stepSubmission, 'first' : false, 'last' : true, 'linkStepSubmission' : true, 'justText' : true } %}
                    </div><!-- /clearfix -->
                </fieldset>
                
                {% if includeStepForm %}
                    <fieldset>
                        <legend>Custom Step</legend>
                        <div class="span8">
                            <div class="clearfix">
                                {{ form_label(stepSubmissionForm.title) }}
                                <div class="input">
                                    {{ form_widget(stepSubmissionForm.title, { 'attr': {'class': 'span8'} }) }}
                                    <span class="help-inline">ex: "Plant a garden."</span>
                                </div>
                            </div><!-- /clearfix -->
                            <div class="clearfix">
                                {{ form_label(stepSubmissionForm.description) }}
                                <div class="input">
                                    {{ form_widget(stepSubmissionForm.description, { 'attr': {'class': 'span8 tinymce'} }) }}
                                    <span class="help-inline">What will help others take this step?</span>
                                </div>
                            </div><!-- /clearfix -->
                            <div class="clearfix">
                                {{ form_label(stepSubmissionForm.category) }}
                                <div class="input">
                                    {{ form_widget(stepSubmissionForm.category, { 'attr': {'class': 'span8'} }) }}
                                </div>
                            </div><!-- /clearfix -->

                            
                        </div>
                    </fieldset>
                {% endif %}          
                    
                {% if type == 'step' %}
                    <fieldset>
                        <legend>My Step</legend>
                        <div class="span8">
                            <div class="clearfix">
                                {{ form_label(stepSubmissionForm.story) }}
                                <div class="input">
                                    {{ form_widget(stepSubmissionForm.story, { 'attr': {'class': 'span8'} }) }}
                                </div>
                                <span class="help-inline">What did you do? How did it go?</span>
                            </div><!-- /clearfix -->
                        </div>
                    </fieldset>
                    
                    <fieldset>
                    <div class="span15">
                        <label>Where did you take the step?</label>
                        Click anywhere on the map.  Once you place your marker, you can move it by clicking and dragging it.<br/><br/>
                        <div id="map-canvas" class="span8" style="height: 300px;">
                        </div>
                    </div>
                        </fieldset>

                {% else %}
                    <fieldset>
                        <legend>My Commitment</legend>
                        <div class="span8">                    
                            <div class="clearfix">
                                {{ form_label(stepSubmissionForm.commitment) }}
                                <div class="input">
                                    {{ form_widget(stepSubmissionForm.commitment, { 'attr': {'class': 'span8'} }) }}
                                </div>
                                <span class="help-inline">What will you do?</span>
                            </div><!-- /clearfix -->                    
                        </div>
                    </fieldset>
                {% endif %}
                    
                {{ form_rest(stepSubmissionForm) }}
                <div class="actions">
                    <input class="btn success large" value="Save" type="submit" />
                    <a class="btn error large" href="{{ url(urlBase ~  'Delete', {'id' : stepSubmission.id }) }}">Delete</a>
                    <a class="btn large" href="{{ url(urlBase) }}">Cancel</a>
                </div>
        </div>
    </div>
    
{% endblock content %}